.xerite-left {
  background-image: url("../assets/whitemap.png");
  background-size: 100% 100%;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  position: relative;
  width: 50%;
  height: 100vh;
  float: left;
  overflow-y: hidden;
}
.xerite-logo {
  position: absolute;
  width: 250.36px;
  height: 49px;
  left: 50px;
  top: 40px;
}
.xerite-right {
  width: 50%;
  height: 100vh;
  float: right;
  overflow-y: auto;
}

.left-plus {
  height: 100vh;
  width: 100%;
}
.plus-1 {
  position: absolute;
  top: 10%;
  left: 60%;
  width: 3.125vw;

  /* height: 6.36604774535809vh; */
}
.rayon-ag {
  position: absolute;
  width: 90px;
  height: 18px;
  left: 460px;
  top: 105px;

  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
  opacity: 0;
}

.plus-1:hover ~ .rayon-ag {
  opacity: 1;
}
.plus-2 {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 3.125vw;
}
.plus-3 {
  position: absolute;
  left: 65%;
  width: 3.125vw;
  top: 25%;
}
.plus-4 {
  position: absolute;

  left: 50%;
  width: 3.125vw;
  top: 35%;
}
.plus-5 {
  position: absolute;

  left: 30%;
  width: 3.125vw;
  top: 40%;
}
.plus-6 {
  position: absolute;

  left: 50%;
  width: 3.125vw;
  top: 45%;
}
.plus-7 {
  position: absolute;

  width: 3.125vw;
  left: 60%;
  top: 55%;
}
.plus-8 {
  position: absolute;

  left: 80%;
  width: 3.125vw;
  top: 55%;
}
.plus-9 {
  position: absolute;

  left: 45%;
  width: 3.125vw;
  top: 70%;
}
.plus-10 {
  position: absolute;

  left: 60%;
  width: 3.125vw;
  top: 70%;
}
.plus-11 {
  position: absolute;

  left: 45%;
  width: 3.125vw;
  top: 90%;
}

.btn {
  position: absolute;
  width: 173px;
  height: 50px;
  /* left: 50px;
  top: 633px; */

  border: 1px solid #c8cbcc;
  box-sizing: border-box;
  cursor: pointer;
  background: #ffffff;
}
.btn:hover {
  box-shadow: inset 300px 0 0 0 orange;
}
.btn-p {
  font-family: Palatino Linotype;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  letter-spacing: 0.01em;

  color: #010101;
}